body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("https://i.pinimg.com/736x/d5/2c/1c/d52c1cda697e20a9eb6804e8c1d0b41f.jpg");

  background-size: cover;
  font-family: "Garamond", serif;
}

.spell-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spell-card {
  background-color: #f8e6cb;
  border: 1px solid #d6b786;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 30px;
  width: 300px;
  font-family: "Garamond", serif;
}

.spell-name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.spell-description {
  margin-top: 20px;
  font-size: 18px;
  text-align: justify;
}
.onCast {
  color: white;
  display: flex;
  justify-content: center;
  font-size: x-large;
}
